body{
    background-image:url("../images/backgroundcrystal.jpg") ;
    background-size: 100%;
}

#insructions{
    border:2px solid ghostwhite;
    box-shadow:0 0 20px #FF0000, 0 0 20px #0000FF;
    margin:2% 50% 2% 2% ;
    
}
h1{
    color :ghostwhite;
    text-shadow: 0 0 10px #FF0000, 0 0 10px #0000FF;
    font-family: 'Permanent Marker', cursive;
}
#NameOfGame{
    margin: 2% 60% 0% 2%;
    border: 2px solid ghostwhite;
    box-shadow:0 0 50px rgb(252, 251, 251), 0 0 50px #0000FF;
}
p{
    color :black;
    line-height: 100%;
    font-family:  'Gloria Hallelujah', cursive;
    font-style: bold;
}
#howToPlay{
    text-decoration: underline;
    font-family: 'Permanent Marker', cursive;
}
#magicNumber{
    float: left;
    border: solid ghostwhite 2px;
    box-shadow:0 0 50px rgb(240, 5, 248), 0 0 50px rgb(255, 0, 0);
    margin: 0% 2% 1% 2%;
   
    box-shadow:0 0 50px rgb(243, 5, 248), 0 0 50px #0000FF;
    height: 60px;
    ;
}
#scoreWL{
    float: left;
    border: solid ghostwhite 2px;
    margin: 0% 2% 1% 2%;
    box-shadow:0 0 50px rgb(240, 5, 248), 0 0 50px #0000FF;
    
}
.WL{
    font-family: 'Permanent Marker', cursive;

}
.cImage{
    float: left;
    height: 60px;
    width: 60px;
    margin: 1%;
}
#one{
    box-shadow:0 0 50px rgb(99, 179, 245), 0 0 50px #0000FF;
    border-radius: 75px;
}
#two{
    box-shadow:0 0 50px rgb(33, 252, 4), 0 0 50px rgb(5, 80, 34);
    border-radius: 75px;
}

#three{   
    box-shadow:0 0 50px rgb(248, 5, 5), 0 0 50px rgb(255, 0, 200);
    border-radius: 75px;
   
}

#four{
     box-shadow:0 0 50px rgb(240, 5, 248), 0 0 50px rgb(255, 0, 0);
     border-radius: 75px;
 }
#total{
    padding: 10px 0px 0px 0px;
    font-family: 'Permanent Marker', cursive;

}

#randomNumber{
   font-family: 'Permanent Marker', cursive;
   font-style: bold;
   font-size: 50px;
    text-align: center;
    padding: 0px 0px 10px 0px;
   
}
 #pT{
     margin: 2% 2% 2% 2%;
      box-shadow:0 0 50px rgb(240, 5, 248), 0 0 50px rgb(255, 0, 0);
     
   }
      #resetBtn {
        -webkit-animation-name: glowreset;
        -webkit-animation-duration:8s;
        -webkit-animation-iteration-count: infinite;
        font-family: 'Permanent Marker', cursive;
        background: transparent;
      }
      
      @-webkit-keyframes glowBlue {
        from {  -webkit-box-shadow: 0px 0px 50px rgb(0, 225, 255); }
        50% {  -webkit-box-shadow: 0px 0px 100px #1120f0; }
        to {  -webkit-box-shadow: 0px 0px 50px rgb(82, 241, 246); }
      }
      @-webkit-keyframes glowGreen1 {
        from {  -webkit-box-shadow:0px 0px 100px rgb(50, 250, 15); }
        50% {  -webkit-box-shadow: 0px 0px  200px #b3ff02; }
        to {  -webkit-box-shadow:  0px 0px 100px rgb(17, 61, 0); }
      }
      
      @-webkit-keyframes glowreset {
        from { color: black; -webkit-box-shadow: 0 0 9px rgb(47, 0, 255); }
        50% { color:gray; -webkit-box-shadow: 0 0 18px #03000c; }
        to { color:blue; -webkit-box-shadow: 0 0 9px rgb(250, 15, 15); }
      }
      @-webkit-keyframes glowPink {
        from {  -webkit-box-shadow:0px 0px 100px rgb(255, 44, 79); }
        50% {  -webkit-box-shadow: 0px 0px  200px #fb0000; }
        to {  -webkit-box-shadow:  0px 0px 100px rgb(255, 0, 55); }
    }